<div class="navigation">
  <ul>
    <li><%= link_to image_tag('backarrow.png', alt: 'Back'), category_path(params[:category_id]), class: 'nav-link' %></li>
    <h2>Expense: <%= @expense.name %></h2>
    <li><%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %></li>
  </ul>
</div>
<div class="expense-container">
  <div class="expense-heading">
    <p><%= @expense.name %></p>
    <p><strong>Amount:</strong> <%= @expense.amount %></p>
  </div>
  <div class="expense-details">
    <h2>Categories:</h2>
    <ul>
      <% @expense.categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
    </ul>
    <p><strong>Created At:</strong> <%= @expense.created_at.strftime('%B %d, %Y %I:%M %p') %></p>
  </div>
</div>
